<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :parent_names, :class => "control-label" %>
    <br>
    <div class="col-xs-12 col-md-12">
      <%= f.text_field :parent_names, :class => "form-control", autofocus: true %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :phone_numbers, :class => "control-label" %>
    <br>
    <div class="col-xs-12 col-md-12">
      <%= f.text_field :phone_numbers, :class => "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email_addresses, :class => "control-label" %>
    <br>
    <div class="col-xs-12 col-md-12">
      <%= f.text_field :email_addresses, :class => "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :children_names, :class => "control-label" %>
    <br>
    <div class="col-xs-12 col-md-12">
      <%= f.text_field :children_names, :class => "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :children_ages, :class => "control-label" %>
    <br>
    <div class="col-xs-12 col-md-12">
      <%= f.text_field :children_ages, :class => "form-control", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :other_info, :class => "control-label" %>
    <br>
    <div class="col-xs-12 col-md-12">
      <%= f.text_area :other_info, rows: 5, :class => "form-control", autofocus: true %>
    </div>
  </div>
  <br><br>

  <div class="form-group">
    <%= f.label :tour_date, :class => "control-label" %>
    <br>
    <div class="col-xs-12 col-md-12">
      <%= f.date_select :tour_date, :class => "form-control", autofocus: true %>
    </div>
  </div>
<br>
  <div class="actions">
      <%= f.submit 'Set Appointment', :class => "btn btn-primary" %>
  </div>
<% end %>
