<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Parent names</th>
      <th>Phone numbers</th>
      <th>Email addresses</th>
      <th>Children names</th>
      <th>Children ages</th>
      <th>Other info</th>
      <th>Tour date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.parent_names %></td>
        <td><%= appointment.phone_numbers %></td>
        <td><%= appointment.email_addresses %></td>
        <td><%= appointment.children_names %></td>
        <td><%= appointment.children_ages %></td>
        <td><%= appointment.other_info %></td>
        <td><%= appointment.tour_date %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
